{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ariane"><a href="{{ path('accueil') }}">Accueil</a></li>
        <li class="breadcrumb-item ariane"><a href="{{ path('annonce_index') }}">Mon Profil</a></li>
    </ol>
    </nav>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container my-3 d-flex">
            <h3>Accéder à la page d'administration du blog : </h3>
            <a class="btn btn-outline-info ml-5" href="{{ path('admin_blog')}}" role="button">Accéder</a>
        </div>
    {% endif %}

    
<div class="row">
    <div class="container flex-sm-column col-md-9 order-md-first shadow-sm mt-5">
        <div class="container my-3">
            <h3>Mes informations </h3>
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecter en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Ce déconnecter</a>
                </div>
            {% endif %}
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom d'utilisateur : {{ app.user.username }}</li>
                    <li class="list-group-item">Email : {{ app.user.email }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9 order-md-last mt-5  mx-auto shadow-sm d-flex flex-column align-items-stretch p-4">
        <h3>Mes Annonces </h3>
        <div class="row mx-auto">
            {% for annonce in annonces %}
                {% if annonce.author.id == app.user.id %}
                <div class="col-md-4 d-flex align-items-stretch my-3">
                    <div class="card card-annonce" style="width: 18rem;">
                        {% if annonce.filename %}
                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                <img src="{{ vich_uploader_asset(annonce, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                            </a>
                            {% else %} 
                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                            </a>  
                            {% endif %} 
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.Title }}</h5>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-map-marker"></i>{{ annonce.location.name }}</small></p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-user"></i>{{ annonce.author.username }}</small></p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i>{{ annonce.UpdatedAt ? annonce.UpdatedAt|date('d/m/Y') : '' }}</small></p>
                            {# <p class="card-text">{{ annonce.content|raw }}</p> #}
                            <div class="d-flex align-items-center flex-column">
                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="badge badge-brown p-1">Voir plus</a>
                            <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="badge badge-info mt-2 mb-2 p-1" style="color:white;">Modifier</a>
                                {{ include('annonce/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% else %}
                    <p>Aucune annonce trouvé. <br> <a href="{{ path('annonce_new') }}">Publier votre première annonce</a></p>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}
