
<div class="container">
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 col-sm-6">
         {{ form_row(form.Title) }} 
        </div>
    </div>
    <div class="row col-12"> {{ form_row(form.Content) }}</div>
    <div class="row"> 
        <div class="col-md-4 col-sm-12">{{ form_row(form.Quantity) }}</div>  
        <div class="col-md-3">{{ form_row(form.Type) }}</div>
        <div class="col-md-3">{{ form_row(form.Location) }}</div> 
    </div>
    <div class="row"> 
        <div class="col-md-6 col-sm-8">
            {{ form_row(form.imageFile) }}
        </div> 
    </div>
    <button class="btn btn-brown mb-5 d-flex justify-content-end">{{ button_label|default('Publier') }}</button>
{{ form_end(form) }}
</div>