{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
<div class="container">
    <h1>Annonce index</h1>
    <div class="container shadow-sm py-3">
        <p>Filtre :</p>
        <div class="filter-nav">
            <a class="btn btn-primary" href="{{ path('annonce_index')}}" data-filter="">Toute les annonces disponible</a>
        {% for t in category %}
            {% if t.id == filtre %}
              <a class="btn btn-success active" href="{{ path('annonce_filter', {'id': t.id})}}">{{ t.type }}</a>
            {% else %}
              <a class="btn btn-primary" href="{{ path('annonce_filter', {'id': t.id})}}">{{ t.type }}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class=" container row my-5 shadow-sm py-5">
        {% for annonce in annonces %}
            <div class="card" style="width: 18rem;">
                {# {% if annonce.filename %}
                    <a href="{{ path('article_blog_show', {'id': annonce.id}) }}">
                        <img src="{{ vich_uploader_asset(annonce, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                    </a>
                    {% else %}  #}
                    <a href="{{ path('article_blog_show', {'id': annonce.id}) }}">
                        <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                    </a>   
                {# {% endif %} #}
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.Title }}</h5>
                    <p class="card-text">{{ annonce.Content }}</p>
                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </div>
</div>
    <a href="{{ path('annonce_new') }}">Create new</a>
{% endblock %}
