{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ariane"><a href="{{ path('accueil') }}">Accueil</a></li>
        <li class="breadcrumb-item ariane"><a href="{{ path('annonce_index') }}">Toutes les annonces</a></li>
    </ol>
    </nav>
     <div class="container mt-5">
        <h1>{{ annonce.Title }}</h1>
    </div>
    <div class="header-content">
     {% if annonce.filename %}
                <img src="{{ vich_uploader_asset(annonce, 'imageFile') | imagine_filter('slide') }}" alt="card-img-top" style="width:100%; height:auto;">
            {% else %} 
                <img src="{{ '/images/empty.jpg' | imagine_filter('slide') }}" alt="card-img-top" style="width:100%; height:auto;">
        {% endif %}
    
    </div>
    <div class="article-content container">
        <div class="row">
            <div class="col-9" >
                <div class="annonce-content mt-3" style="min-height:200px;">
                <p>{{ annonce.Content | raw }}</p>
                </div>
                <p> <small>Publiée le : {{ annonce.UpdatedAt ? annonce.UpdatedAt|date('d/m/Y') : '' }}</small></p>
                <hr>
            </div>
            <div class="col-3 mt-5">
                <p>Contacter le jardinier :</p>
                <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom d'utilisateur : {{ annonce.author.username }}</li>
                    <li class="list-group-item">Email : {{ annonce.author.email }}</li>
                </ul>
                <a href="mailto:{{ annonce.author.email }}" name="contact" class="btn btn-success rounded-0" role="button">Contacter</a> 
            </div>
            </div>
        </div>
    </div>
{% endblock %}
