{% extends 'base.html.twig' %}

{% block title %}Anti Gaspillage{% endblock %}

{% block body %}
    <div class="container">
    <h1>Bienvenue sur la page d'administration</h1>
                <a href="{{ path('article_blog_new') }}" class="btn btn-outline-success my-4">Create new</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_blog in article_blogs %}
            <tr>
                <td>{{ article_blog.Title }}</td>
                <td>{{ article_blog.UpdatedAt ? article_blog.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}" class="btn btn-brown">Voir l'article</a>
                    <a href="{{ path('article_blog_edit', {'id': article_blog.id}) }}" class="btn btn-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    
{% endblock %}
