{% extends 'base.html.twig' %}

{% block title %}Anti Gaspillage | Le marché des cueilleurs{% endblock %}

{% block body %}

    <div id="header-blog">
        <div id="img-header"></div>
        <div class="txt-header-blog">
            <h1>Les Astuces Anti Gaspillage</h1>
        </div>
    </div>
    <div class="section-blog">  
        <h2>Bienvenue sur le blog</h2>
        <p class="text-center">Si vous n'arrivez pas à échanger votre surplus sur notre plateforme, pas d'inquiétude, le Blog du marché des ceuilleurs est fait pour vous. <br>
            Vous trouverai ici pleins d'astuce pour lutter contre le gaspillage alimentaire. 
        </p>
    </div>
    <div class="row row-cols-5 justify-content-center">
    {% for article_blog in article_blogs %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        {% if article_blog.filename %}
            <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}">
                <img src="{{ vich_uploader_asset(article_blog, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
            </a>    
            {% else %} 
            <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}">
                <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
            </a>   
        {% endif %}
        <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}">
            <div class="card-body">
            <h4 class="card-title" style="color:white;">{{ article_blog.Title }}</h4>
            {# <p class="card-text">{{ article_blog.Content }}</p> #}
            </div>
        </a>
        <div class="card-header">{{ article_blog.UpdatedAt ? article_blog.UpdatedAt|date('d/m/Y') : '' }}</div>
    </div>
        {% else %}
            <tr>
                <td colspan="5">Aucun article trouvé</td>
            </tr>
        {% endfor %}
    {# <a href="{{ path('article_blog_new') }}">Create new</a> #}
</div>

{% endblock %}
