{% extends 'base.html.twig' %}

{% block title %}MDC - Nouvel article{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ariane"><a href="{{ path('accueil') }}">Accueil</a></li>
        <li class="breadcrumb-item ariane"><a href="{{ path('annonce_index') }}">Blog anti gaspi</a></li>
        <li class="breadcrumb-item ariane"><a href="{{ path('admin_blog') }}">Page administrateur</a></li>
    </ol>
    </nav>
    <h1>Création d'un nouvel article</h1>

    {{ include('article_blog/_form.html.twig') }}

    <a href="{{ path('article_blog_index') }}">back to list</a>
{% endblock %}
