{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {# HEADER #}
    <div class="header">
        <div class="content-header">
            <p>Frais. Local. Naturel.</p>
        </div>
    </div>

    {# CONTEXTE #}
    <div style="height:auto;">
        <div class="container mt-5 concept-content">
            <h2 class="mb-4">Le Concept</h2>
            <p> <span>A</span>vec l’objectif de réduire le gaspillage alimentaire, la plateforme Le marché des cueilleurs met en relation les particuliers et petits producteurs qui veulent échanger ou donner leur surplus de production de leur jardin avec les personnes qui cherchent à s’approvisionner localement.
                La tendance du manger local s’accentue pour des raisons écologiques, économiques, gastronomiques et militantes, et s’appuie sur des circuits courts de distribution.Dans un contexte d’économie en crise et de prise de conscience écologique généralisée, Le marché des cueilleurs est une bonne solution pour valoriser la production locale entre particuliers. En s’approvisionnant localement et en échangeant ses surplus de production du jardin, on évite le gaspillage, on stimule l’économie locale et on crée du lien humain.
                L’utilisation du site va permettre au jardinier amateur de partager son surplus de légumes ou fruits ainsi que son matériel en échange de services ou d’autre aliments afin d’encourager une consommation alimentaire variée et de qualité. 
                Dans un soucis d’écologie le but de cette plateforme est de mettre en relation des personnes à proximité de chez soi.
            </p>
        </div>
        <div class="container my-5 explication col-md-9 col-lg-12 col-xl-10">
            <h2 class="txt-exp">Comment échanger son surplus de production ?</h2>
            <p>C'est simple, en seulement 3 étapes!</p>
            <hr>
            <div class="step d-flex mt-5">
                <div class="step1 col-md-3 col-lg-3 col-xl-3 mx-auto d-flex flex-column align-self-stretch justify-content-start">
                    <img src="{{ '/images/Compte.png' }}" alt="Création d'un compte">
                    <h4 class="mb-4">Créé un compte</h4>
                    <p> Rendez-vous sur <a href="/register">la page d'inscription</a> pour configurer votre compte</p>
                </div>
                <div class="step1 col-md-3 col-lg-3 col-xl-3 mx-auto d-flex flex-column align-self-stretch justify-content-start" style="max-weight:80px;">
                    <img src="{{ '/images/Annonce.png' }}" alt="Création d'un compte">
                    <h4 class="mb-4">Rédiger votre annonce</h4>
                    <p>Une fois que vous êtes connecter vous pouvez acceder au <a href="{{ path('annonce_new') }}">formulaire de création d'annonce.</a>         
                    </p>
                </div>
                <div class="step1 col-md-3 col-lg-3 col-xl-3 mx-auto d-flex flex-column align-self-stretch justify-content-start">
                    <img src="{{ '/images/Contact.png' }}" alt="Création d'un compte">
                    <h4 class="mb-4">Votre annonce est en ligne</h4>
                    <p >Votre annonce est en ligne, tous les utilisateurs peuvent la voir et vous contactez par mail. <br>
                        Vous pouvez modifier cette annonce a travers <a href="{{ path('app_account') }}">votre profil</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="whitespace"></div>

    {# ANNONCE #}

    <div class="annonce mt-5 d-flex flex-column" style="height:200vh;">
        <div class="lastAnnonce mt-5" style="margin-top:300px;">
            <div class="header-fruits d-flex justify-content-center flex-column flex-row mt-5">
                <h4 class="text-center">LES DERNIÈRES ANNONCES</h4>
                <hr class="mx-auto mb-5 mt-3">
            </div>
            
            <div class="container">
                <div class="row">
                 {% set Last_AB = annonces|length - 4 %}
                {% for annonce in annonces|slice(Last_AB, 4) %}
                 <div class="col-md-3 col-sm-4 col-lg-3">
                    <div class="card card-annonce shadow mr-2" style="width: 15rem;">
                             {% if annonce.filename %}
                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                <img src="{{ vich_uploader_asset(annonce, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                            </a>
                            {% else %} 
                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                            </a>   
                            {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.Title }}</h5>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-balance-scale"></i>Quantité : {{ annonce.Quantity }}Kg</small></p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-user"></i>{{ annonce.author.username }}</small></p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i>23 Mars 2020</small></p>
                            {# <p class="card-text">{{ annonce.content|raw }}</p> #}
                            <div class="d-flex align-items-end">
                                <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="btn btn-brown">Voir plus</a>
                            </div>
                         </div>
                    </div>
                 </div>
                {% endfor %}
                </div>
                <div class="lien-annonce d-flex justify-content-end mr-3 mt-3">
                    <a href="{{ path('annonce_index') }}">Voir toutes les annonces <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            
        </div>
        

        <div class="fruits mt-5">
            <div class="header-card-blog d-flex justify-content-center flex-column flex-row mt-5">
                <h4 class="text-center">LES DERNIERS ARTICLES</h4>
                <hr class="mx-auto mb-5 mt-3">
            </div>
            <div class="container">
                <div class="row mt-5">
                 {% set Last_AB = article_blogs|length - 4 %}
                {% for article_blog in article_blogs|slice(Last_AB, 4) %}
                 <div class="col-md-3 col-sm-2">
                    <div class="card card-annonce shadow" style="width: 15rem;">
                        {% if article_blog.filename %}
                            <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}">
                                <img src="{{ vich_uploader_asset(article_blog, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                            </a>    
                            {% else %} 
                            <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}">
                                <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width:100%; height:auto;">
                            </a>   
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article_blog.Title }}</h5>
                            <div class="d-flex align-items-end">
                                <a href="{{ path('annonce_show', {'id': article_blog.id}) }}" class="btn btn-brown">Lire l'article</a>
                            </div>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i>{{ article_blog.UpdatedAt ? article_blog.UpdatedAt|date('d/m/Y') : '' }}</small></p>
                            {# <p class="card-text">{{ annonce.content|raw }}</p> #}
                         </div>
                    </div>
                 </div>
                {% endfor %}
                </div>
            <div class="lien-annonce d-flex justify-content-end mr-3 mt-3">
                <a href="{{ path('article_blog_index') }}">Lire tous les articles <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            </div>
        </div>

    {# PUBLICATION ANNONCE #}
    <a href="#" id="new_annonce" style="margin-top:300px;">
        <div class="mx-auto my-5 publication">
                <div class="publi_img">
                    <img src="{{ '/images/Annonce.png' }}" alt="Création d'un compte" style="width: 200px; margin: 0 auto;">
                </div>
                <div class="publi_txt">
                    <h4 class="mb-4">Publier votre première annonce !</h4>
                </div>
        </div>
    </a>

{% endblock %}